.navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #28482E;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 3px solid #6A994E;
    z-index: 1000;
}
.nav-brand {
    display: flex;
    align-items: center;
}
.Nav-Logo {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 15px;
    border: 2px solid #6A994E;
}
.Logo-Name {
    font-size: 24px;
    margin: 0;
}
.nav {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    color: #f1f7ed;
    font-weight: bold;
}
.nav-link, .dropdown-link {
    text-decoration: none;
    color: #f1f7ed;
    font-size: 18px;
    transition: opacity 0.3s ease;
    opacity: 0.6;
}
.nav-link:hover{
    opacity: 1;
}
.dropdown-link:hover {
    opacity: 0.95;
}
.active {
    opacity: 1;
    text-decoration: underline;
}
.nav-toggle-checkbox {
    display: none;
}
.nav-toggle-label {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #f1f7ed;
}
/*Dropdown Menu*/
.dropdown {
    position: relative;
}
.dropdown-content {
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6a994e;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    opacity: 0.95;
    border-radius: 8px;
    padding: 10px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.dropdown-content li {
    padding: 8px 12px;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 0.95;
    transition-delay: 0s;
}
.Dark-mode {
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: block;
}
#Dark {
    display: none;
}